URL=
URN=

# Authentication
AUTH=
SIGN_UP=
SIGN_IN=
GET_USER=
LOGOUT=
REFRESH_TOKEN=
FORGOT_PASSWORD=
RESET_PASSWORD=

# Masters
MASTERS=
GET_IDENTIFICATION_TYPES=

# Plans
PLAN=
GET_PUBLIC_PLANS=

# Dashboard
DASHBOARD=
GET_PAYMENTS_SUMMARY=
GET_APPOINTMENTS_SUMMARY=

# Patients
PATIENT=
POST_CREATE_PATIENT=
GET_PATIENTS=
PUT_UPDATE_PATIENT=
DELETE_PATIENT=

# Procedures
PROCEDURE=
GET_PROCEDURES=
POST_CREATE_PROCEDURE=
PUT_UPDATE_PROCEDURE=
DELETE_PROCEDURE=

# Appointments
APPOINTMENT=
GET_APPOINTMENTS=
GET_APPOINTMENTS_LIST=
POST_CREATE_APPOINTMENT=
PUT_UPDATE_APPOINTMENT=

# User
USER=
GET_PROFILE=
GET_TEAM=
POST_CREATE_MEMBER=
PUT_UPDATE_MEMBER=

# Treatments
TREATMENT=
GET_TREATMENTS=
POST_CREATE_TREATMENT=
PUT_UPDATE_TREATMENT=
DELETE_TREATMENT=

# Patient treatments
PATIENT_TREATMENT=
GET_PATIENT_TREATMENTS=
POST_CREATE_PATIENT_TREATMENT=
PUT_UPDATE_PATIENT_TREATMENT=

# Payments
PAYMENT=
GET_PAYMENTS=
GET_PAYMENTS_SUMMARY_BY_CONCEPT=
GET_PAYMENTS_REPORT=
POST_CREATE_PAYMENT=

# Clinical records
CLINICAL_RECORD=
GET_CLINICAL_RECORDS=
GET_CLINICAL_HISTORY=
POST_CREATE_CLINICAL_RECORD=

# Platform
PLATFORM_TENANT=
GET_TENANTS=
POST_ACTIVATE_TENANT=
POST_CREATE_BUSINESS_TENANT=
PUT_UPDATE_TENANT=

# Notifications
NOTIFICATION=
GET_NOTIFICATIONS=
WEB_SOCKET_NOTIFICATION=

KEY_ENCODE_AND_DECODE_AES=
